body {
    background-color: #eeede1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.left-panel{
    background-color: black;
    display: grid;
    grid-template-columns:330px;
    height: 860px;
    padding: 20px;
}
.right-panel{
    background-color: white;
    display: grid;
    grid-template-columns: 540px;
    height: 860px;
    padding: 20px;
    font-family: "Arial" ;
}
.photo-panel{
    background-image: url('pikachu.png');
    height: 450px;
    background-repeat: no-repeat;   
    background-size: 100% 100%;
}
.text-content {
    color: white;
    display: grid;
    text-align: center;
    height: 450px;
}
a {
    text-decoration: none;
    color: inherit;
}

.song {
    text-align: center;

}

h2{
    text-align: left;
}
.year{
    display: grid;
    
    grid-gap: 40px;
    padding: 20px;
    font-family: "Arial" ;
}
.hwli{
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    font-family: "Arial" ;
}
.hwli a{
    color: pink;
}
.note{
    text-align: left;
    color: gray;
    font-size: 15px;
    font-style: italic;
}
